/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}
/* Placement des éléments HTML */
#date {
    margin-top: 3%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 130%;
}

#input {
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: none;
}

#button {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #e1e1e1;
    border: none;
}

#button:hover {
    box-shadow: black -4px 4px 2px -3px;
}

#meteo {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    height: 100%;
}

#ville:first-letter {
    text-transform: uppercase;
}

#border {
    display: flex;
    width: 60%;
    border: black 1px solid;
    margin-top: 3%;
    margin-left: 20%;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(182, 182, 182, 0.2);
}

#ville {
    font-size: 200%;
    margin-top: 3%;
}

#degres {
    font-size: 400%;
    margin-left: 2%;
}

#temps {
    font-size: 130%;
}

.fa-arrow-up {
    margin-left: 45%;
    margin-top: 2.3%;
    font-size: 120%;
}

.fa-arrow-down {
    margin-left: 5%;
    font-size: 120%;
    margin-top: 2.3%;
}

#temperature {
    margin-top: 2%;
    font-size: 150%;
}

#temperature2 {
    margin-top: 2%;
    font-size: 150%;
}

.fa-droplet {
    margin-left: -40%;
    margin-top: 10%;
}

#humidite {
    margin-left: -40%;
    font-size: 150%;
}
.fa-sun {
    text-align: right;
    margin-right: 8%;
}

#sunrise {
    font-size: 150%;
    text-align: right;
    margin-right: 6.7%;
    margin-bottom: 2%;
}

.fa-moon {
    text-align: right;
    margin-right: 8%;
}

#sunset {
    text-align: right;
    margin-right: 6.4%;
    font-size: 150%;
}

.fa-eye-slash {
    margin-top: 5%;
}

#visibility {
    margin-bottom: 7%;
    font-size: 150%;
}

/* Placement des images et les mettres invisibles grâce à l'opacité */

#image1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

#image2 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

#image3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

/* Mise en place du responsive CSS */

@media screen and (max-width: 350px){
    * {
        font-size: 80%;
    }

    .fa-sun {
        margin-left: 70%;
    }

    #sunrise {
        margin-left: 70%;
    }

    .fa-moon {
        margin-left: 70%;
    }

    #sunset {
        margin-left: 70%;
    }

    #humidite {
        margin-left: -50%;
    }

    .fa-droplet {
        margin-left: -50%;
    }

    .fa-arrow-up {
        margin-left: 42%;
    }
}

@media screen and (min-width: 600px){
    * {
        font-size: 90%;
    }

    .fa-sun {
        margin-left: 70%;
    }

    #sunrise {
        margin-left: 70%;
    }

    .fa-moon {
        margin-left: 70%;
    }

    #sunset {
        margin-left: 70%;
    }

    #humidite {
        margin-left: -70%;
    }

    .fa-droplet {
        margin-left: -70%;
    }

    .fa-arrow-up {
        margin-left: 44%;
    }
}

@media screen and (max-width: 600px){
    * {
        font-size: 85%;
    }

    .fa-sun {
        margin-left: 70%;
    }

    #sunrise {
        margin-left: 70%;
    }

    .fa-moon {
        margin-left: 70%;
    }

    #sunset {
        margin-left: 70%;
    }

    #humidite {
        margin-left: -50%;
    }

    .fa-droplet {
        margin-left: -50%;
    }

    .fa-arrow-up {
        margin-left: 41%;
    }
}

@media screen and (min-width: 900px){
    * {
        font-size: 95%;
    }

    #humidite {
        margin-left: -75%;
    }

    .fa-droplet {
        margin-left: -75%;
    }

    .fa-arrow-up {
        margin-left: 45%;
    }
}


